body {
  font-family: "Montserrat", sans-serif;
}

.menu {
  padding-bottom: 25.5px;
  padding-top: 25.5px;
  /* выравниваем меню по центру */
  text-align: center;
}
.menu-one {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  /* отступы */
  margin-left: 72px;
}

.menu-point {
  color: #ff0000;
  text-decoration: none;
}
.picture {
  width: 100%;
}
.top {
  text-align: center;
  text-transform: uppercase;
  word-spacing: inherit;
  margin-top: 48px;
  margin-bottom: 38px;
  /* font-style: normal; */
  /* font-weight: bold; */
  /* font-size: 22px; */
}
.part {
  text-align: center;
}
.part-one {
  margin-top: 38px;
}
.part-two {
  margin-top: 28px;
}
.button {
  margin-top: 66px;
  text-align: center;
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  height: 51px;
  width: 191px;
  text-transform: uppercase;
}
/* выравнял кнопку */
.container {
  text-align: center;
}
.signature {
  text-align: right;
  font-size: 16px;
  margin-top: 40px;
  margin-right: 105px;
  margin-bottom: 29px;
}
