.body {
  font-family: Open Sans;
  width: 1900px;
}
h1 {
  margin: 0;
}

.header {
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  width: 1900px;
}
.sky {
  background-image: url(../img/header-bg.jpeg);
  padding-top: 163px;
  padding-bottom: 74px;
  background-position: -6px -415px;
  background-attachment: fixed;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
}

.header-nav-left {
  display: flex;
  align-items: center;
}

.logo {
  margin: 22px 27px 21px 27px;
}
.logo-text {
  color: white;
  text-decoration: none;
  margin-left: 27px;
  font-weight: 700;
}

.menu-top {
  text-transform: uppercase;
}

.menu-top-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-top-link {
  text-decoration: none;
  color: white;
  margin: 28px 35px 26px 0px;
  font-size: 15px;
}
.menu-top-item {
  list-style-type: none;
}

.menu-top-link:hover {
  color: #14b9d5;
}

.search {
  height: 70px;
  width: 68px;
  background-color: black;
  border: 0px;
  cursor: pointer;
}
.fa {
  color: white;
  width: 17px;
  height: 17px;
}

.header-title {
  color: white;
  font-weight: 700;
  font-size: 27px;
  text-align: center;
  margin-bottom: 44px;
}

.btn {
  display: flex;
  justify-content: center;
}
.button-green {
  background: #89ca62;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 16px 19px 16px 19px;
  border-radius: 5px;
  margin-bottom: 74px;
}
.button-blue {
  background: #14b9d5;
  color: white;
  margin-left: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 16px 30px 17px 29px;
  border-radius: 5px;
  margin-bottom: 74px;
}

.main {
  text-align: center;
}

.main-posts-title {
  color: #18b4cf;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 33px;
}

.section-post {
  background-color: #f2f2f2;
  height: 1030px;
}

.main-posts {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-left: 370px;
  margin-top: 52px;
}

.main-posts-text {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  background-color: white;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 22px;
  margin-top: 0px;
}

.section-client {
  background-image: url(../img/parallax-bg.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 588px;
}
.main-section-client-title {
  color: white;
  padding-top: 106px;
  margin-top: 0px;
}

.main-section-client {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-left: 510px;
  margin-right: 509px;
  margin-top: 197px;
}
h3 {
  color: #18b4cf;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: bold;
  padding-top: 49px;
  padding-bottom: 52px;
}
.section-rated {
  background-color: white;
}
.main-section-rated {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
}

h4 {
  color: #18b4cf;
  font-weight: 700;
  font-size: 27px;
  margin-top: 48px;
  margin-bottom: 51px;
}

.news {
  background-color: white;
}

.grid-emirate-spain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 44px;
  column-gap: 35px;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 42px;
  column-gap: 60px;
  row-gap: 46px;
}

.emirate {
  display: flex;
  flex-direction: row;
  margin-left: 372px;
  width: 856px;
  height: 259px;
}
.title-emirate {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-top: 41px;
}

.spain {
  align-items: flex-start;
  width: 277px;
  height: 259px;
  background-color: #f9f7f7;
}
.title-spain {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-top: 14px;
}

.wrapper-emirate {
  background-color: #f9f7f7;
}

.egypt {
  width: 554px;
  margin-left: 372px;
  background-color: #f9f7f7;
  text-align: right;
}

.title-egypt {
  margin-right: 14px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 14px;
}
.text-egypt {
  display: flex;
  margin-right: 14px;
}

.egypt-block {
  margin-right: 14px;
}

.maldives {
  margin-left: 60px;
  justify-content: start;
  background-color: #f9f7f7;
  width: 554px;
  margin-left: 0px;
  text-align: end;
}

.title-maldives {
  margin-right: 27px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 14px;
}
.text-maldives {
  display: flex;
  margin-right: 14px;
}
.tenerife {
  background-color: #f9f7f7;
  margin-left: 372px;
}

.title-tenerife {
  text-align: end;
  margin-right: 27px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 14px;
}
.text-tenerife {
  display: flex;
  text-align: end;
  margin-right: 13px;
}
.britain {
  background-color: #f9f7f7;
  width: 554px;
}
.text-britain {
  display: flex;
  margin-right: 13px;
  text-align: end;
}

.title-britain {
  text-align: end;
  margin-right: 27px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 14px;
}

.grid-ireland-spain {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 43px;
  column-gap: 35px;
}
.ireland {
  margin-left: 372px;
  width: 277px;
  height: 259px;
  align-items: flex-start;
  background-color: #f9f7f7;
}
.king-spain {
  display: flex;
  flex-direction: row;
  width: 856px;
  height: 259px;
  background-color: #f9f7f7;
  text-align: end;
}
.wrapper-photo-item {
  display: flex;
  align-items: flex-start;
  height: 259px;
}
.wrapper-king-spain {
  display: flex;
  flex-direction: column;
}

.wrapper-king-spain {
  display: flex;
}
.title-king-spain {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  margin-right: 25px;
}
.text-king-spain {
  margin-right: 25px;
}
.footer {
  display: flex;
  width: 1929px;
  height: 80px;
  background-color: #000000;
  margin-top: 77px;
}

.wrapper-footer-text {
  display: flex;
  padding-bottom: 30px;
  margin-left: 367px;
}

.footer-text {
  color: #ffffff;
  font-size: 13px;
}
.footer-logo-box {
  display: flex;
  margin-left: 3px;
  margin-top: 29px;
}
.footer-vilot-box {
  display: flex;
  margin-left: 559px;
  margin-top: 29px;
}
.img-logo {
  width: 64px;
  height: 16px;
}
