.body {
  background-image: url(../img/background\ 1.png);
  font-family: Roboto, sans-serif;
}
.container {
  width: 1028px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 600px;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 61px;
  grid-row-gap: 37px;
}

.cotainer-logo {
  display: flex;
  padding: 51px 0px 22px 0px;
  align-items: flex-end;
}
.cotainer-logo:hover .logo-milan {
  color: #f26522;
}
.cotainer-logo:hover .logo-holidays {
  color: #f26522;
}
.cotainer-logo:hover .logo-castle-hide {
  display: block;
  position: absolute;
  top: -31px;
}

.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: #f26522;
}

.footer {
  text-align: center;
  margin-top: 49px;
}
.footer-text {
  font-size: 12px;
  margin-bottom: 15px;
  color: white;
}
