body {
  font-family: "Roboto", sans-serif;
  max-width: 1280px;
  margin: auto;
}
.logo {
  margin-top: 63px;
  color: #000000;
  text-decoration: none;
  font-size: 80px;
}
.logo-color {
  color: deepskyblue;
}
.menu-top {
  padding-top: 38px;
  padding-bottom: 48px;
  text-decoration: none;
}
.menu-top-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35444f;
  list-style-type: none;
}
.menu-top-text {
  display: block;
  padding: 26px 35px 19px 35px;
  color: white;
  text-decoration: none;
}
.menu-top-point {
  border-left: 1px solid white;
  font-size: 24px;
}
.menu-top-point:hover {
  background-color: #222f3a;
}
.container {
  display: flex;
  justify-content: space-between;
}
.menu-side {
  border: 1px;
}
.menu-side-list {
  border: 1px solid black;
  width: 344px;
  margin-top: 0px;
}
.menu-list-point {
  font-size: 27px;
  list-style-type: none;
}
.menu-list-text {
  display: block;
  padding-right: 44px;
  line-height: 81px;
  color: #485863;
  text-decoration: none;
}
.menu-list-text:hover {
  color: #35444f;
  background-color: #dbdbdb;
  padding-left: 60px;
}
.main-inf {
  margin-left: 53px;
}
.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  border: 1px solid black;
}

.under {
  text-decoration: none;
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
  height: 69px;
}

.menu-under-point {
  text-decoration: none;
}
.menu-under-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 50px;
  padding-left: 40px;
}

.menu-under-text {
  display: block;
  text-decoration: none;
  color: #0c1927;
  font-size: 28px;
  padding-right: 40px;
}
.menu-under-text:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.copy {
  font-size: 24px;
  padding-right: 40px;
  line-height: 80px;
}
